<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <table>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <%= image_tag(article["photos"]&.first&.dig("files", "small"), alt: "") %>
          </td>
          <td>
            <%= article["title"] %> <br>
            <%= article["description"] %>
          </td>
          <td>
              <%= check_box_tag("liked", true, article["liked"],
              {
                onchange: "$(this).data('params', 'liked=' + this.checked)",
                data: { url: url_for(action: "update_liked", external_id: article["id"]), remote: true, method: :post }
              }) %>
              <%= label_tag(:liked, "Like!") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
